body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
}
.content {
    text-align: justify;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
p {
    margin-bottom: 15px;
}

.whatsapp-float {  
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 9999;
  animation: pulse 1.5s infinite;

}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.whatsapp-float img {
  width: 30px;
  height: 30px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
footer { 
    background-image: linear-gradient(to right, rgb(5, 5, 238), rgb(1, 1, 43)); 
    color: white; 
    text-align: center; 
    padding: 1rem; 
    margin-top: 2rem;
}
